<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav>
        <h1>TODO List</h1>
        <a href="{{ url_for('index') }}">Tarefas</a>
        <a href="{{ url_for('add_task') }}">Adicionar Tarefa</a>
    </nav>

    <div class="conteiner">
        {% with messagens = get_flashed_messages(with_categories=True) %}
            {% if messagens %}
                {% for category, message in messagens %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </div>
</body>
</html>
